@import "tailwindcss";



@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #171717;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-roboto), system-ui, sans-serif;
}

@layer utilities {
  @keyframes slide-left {
    0% { transform: translateX(0); }
    100% { transform: translateX(-50%); }
  }


  .animate-slide-left {
    animation: slide-left 10s linear infinite;
  }


 
}


.bg-blue-600{
  background-color: #0067b8;
}

.text-blue-600{
  color: #0067b8;
}

